In [25]:
import pandas as pd
import numpy as np

In [ ]:
!mkdir ~/.github

In [3]:
!cp CCS-master.zip ~/.github

In [4]:
!unzip CCS-master.zip

Archive:  CCS-master.zip
7fed3ec99524ebd276c16678586bcaa36883b98a
   creating: CCS-master/
  inflating: CCS-master/README.md
  inflating: CCS-master/Tasks.md
   creating: CCS-master/sample data/
  inflating: CCS-master/sample data/customers.csv
  inflating: CCS-master/sample data/gasstations.csv
  inflating: CCS-master/sample data/products.csv
  inflating: CCS-master/sample data/sample.csv

In [27]:
path = 'sample.csv'
df = pd.read_csv(path)

In [28]:
df.head()

,Date,Time,CustomerID,CardID,GasStationID,ProductID,Amount,Price
0,2012-01-01,00:18:00,41113,645177,363,2,93.75,2038.5750
1,2012-01-01,02:05:00,30766,496967,1083,2,132.10,3002.6920
2,2012-01-01,00:27:00,31576,618868,109,5,21.35,462.9240
3,2012-01-01,06:56:00,3800,598481,5298,322,52.50,47.0239
4,2012-01-01,05:46:00,3493,34405,5163,317,70.00,61.8310

In [29]:
print(df.dtypes)

Date             object
Time             object
CustomerID        int64
CardID            int64
GasStationID      int64
ProductID         int64
Amount          float64
Price           float64
dtype: object

In [31]:
customer_transactions = df.groupby('CustomerID')['Price'].sum()

In [32]:
top_5_customers = customer_transactions.sort_values(ascending=False).head(5)

In [33]:
top_5_customers_df = pd.DataFrame(top_5_customers).reset_index()
top_5_customers_df.columns = ['Customer ID', 'Total Price']

In [34]:
print("Top 5 Customers by Total Price:")
print(top_5_customers_df)

Top 5 Customers by Total Price:
   Customer ID  Total Price
0         6769    5014.7790
1        17693    4802.9520
2        15064    4287.0520
3         7196    3987.8608
4        15470    3320.1630

In [35]:
gasstations_transactions = df.groupby('GasStationID')['Price'].sum()

In [36]:
top_5_gasstationss = gasstations_transactions.sort_values(ascending=False).head(5)

In [39]:
top_5_gasstations_df = pd.DataFrame(top_5_gasstation).reset_index()
top_5_gasstations_df.columns = ['GasStation ID', 'Total Price']

In [40]:
print("Top 5 GasStations by Total Price:")
print(top_5_gasstations_df)

Top 5 GasStations by Total Price:
   GasStation ID  Total Price
0           3617     5168.471
1            405     5014.779
2           3671     4802.952
3            804     4379.914
4           2030     4287.052

In [41]:
most_common_time = df.groupby(['Date', 'Time']).size().idxmax()
print("Best Time for Gas Station User:")
print("Date:", most_common_time[0])
print("Time:", most_common_time[1])

Best Time for Gas Station User:
Date: 2012-01-01
Time: 04:40:00

Dari sudut pandang pemahaman bisnis, tujuan utama  analisis data pelanggan adalah untuk memahami kebutuhan dan keinginan pelanggan, mengumpulkan data yang dapat digunakan untuk memecahkan masalah bisnis, dan mengoptimalkan strategi bisnis untuk meningkatkan kepuasan pelanggan. Analisis data pelanggan membantu perusahaan memahami tren dan kebutuhan pasar, melakukan penargetan yang efektif, dan mengoptimalkan kebijakan bisnis.